In [1]:
import pandas as pd

df1=pd.read_csv('/workspaces/myfolder/SASPythonDataScientists/pattern_decline_N_American_Bumblebees.csv', encoding='latin-1')
df2=pd.read_csv('/workspaces/myfolder/SASPythonDataScientists/pattern_decline_Mexican_Bumblebees.csv' , encoding='latin-1')
df3=pd.read_csv('/workspaces/myfolder/SASPythonDataScientists/Bumblebee_Others_Scientific_Common_Names.csv' , encoding='latin-1')
df4=pd.read_csv('/workspaces/myfolder/SASPythonDataScientists/native_vs_nonnative_bumblebee_sighting_pollinators_of_farm_data_for_publication.csv' , encoding='latin-1')

/tmp/ipykernel_8246/2137453403.py:3: DtypeWarning: Columns (6,16) have mixed types. Specify dtype option on import or set low_memory=False.
  df1=pd.read_csv('/workspaces/myfolder/SASPythonDataScientists/pattern_decline_N_American_Bumblebees.csv', encoding='latin-1')

In [11]:
#metadata
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3744 entries, 0 to 3743
Data columns (total 75 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   no of specimens in sample      3023 non-null   float64
 1   date                           3744 non-null   object
 2   year                           3744 non-null   int64
 3   season                         3744 non-null   object
 4   site                           3744 non-null   object
 5   plot                           3744 non-null   object
 6   site_plot                      3744 non-null   object
 7   site_plot_year                 3744 non-null   object
 8   sampling                       3744 non-null   object
 9   plant species                  1708 non-null   object
 10  start time                     3744 non-null   object
 11  end time                       2714 non-null   object
 12  vegetation cover               2397 non-null   float64
 13  floral cover                   2549 non-null   object
 14  height of vegetation (cm)      2549 non-null   float64
 15  Achillea millefolium           2549 non-null   float64
 16  Agastache foeniculum           2549 non-null   float64
 17  Calendula officinalis          2549 non-null   float64
 18  Leucanthemum vulgare           2549 non-null   float64
 19  Leucanthemum maximum           2549 non-null   float64
 20  Cichorium intybus              2549 non-null   float64
 21  Coronilla varia                2549 non-null   float64
 22  Cosmos bipinnatus              2549 non-null   float64
 23  Daucus carota                  2549 non-null   float64
 24  Linum perenne                  2549 non-null   float64
 25  Lobularia maritima             2549 non-null   float64
 26  Lotus corniculatus             2549 non-null   float64
 27  Melilotus officinalis          2549 non-null   float64
 28  Origanum vulgare               2549 non-null   float64
 29  Papaver rhoeas                 2549 non-null   float64
 30  Salvia officinalis             2549 non-null   float64
 31  Trifolium incarnatum           2549 non-null   float64
 32  Trifolium pratense             2549 non-null   float64
 33  Trifolium repens               2549 non-null   float64
 34  Viola cornuta                  2549 non-null   float64
 35  Asclepias tuberosa             2549 non-null   float64
 36  Baptisia australis             2549 non-null   float64
 37  Bidens aristosa                2549 non-null   float64
 38  Chamaecrista fasciculata       2549 non-null   float64
 39  Chamaecrista nictitans         2549 non-null   float64
 40  Eupatorium perfoliatum         2549 non-null   float64
 41  Helenium flexuosum             2549 non-null   float64
 42  Lespedeza virginica            2549 non-null   float64
 43  Liatris pilosa                 2549 non-null   float64
 44  Lupinus perennis               2549 non-null   float64
 45  Monarda punctata               2549 non-null   float64
 46  Penstemon laevigatus           2549 non-null   float64
 47  Pycnanthemum tenuifolium       2549 non-null   float64
 48  Rudbeckia hirta                2549 non-null   float64
 49  Rudbeckia triloba              2549 non-null   float64
 50  Sisyrinchium angustifolium     2549 non-null   float64
 51  Solidago odora                 2549 non-null   float64
 52  Solidago nemoralis             2549 non-null   float64
 53  Symphyotrichum laeve           2549 non-null   float64
 54  Tradescantia virginiana        2549 non-null   float64
 55  Verbena hastata                2549 non-null   float64
 56  no bee                         0 non-null      float64
 57  small green metallic bee       110 non-null    object
 58  lrg green bee                  0 non-null      float64
 59  bumble bee                     26 non-null     object
 60  lrg carpenter bee              213 non-null    object
 61  small dark bee                 9 non-null      object
 62  honey bee                      494 non-null    object
 63  Megachile                      36 non-null     object
 64  Anthidium                      16 non-null     object
 65  Species                        3727 non-null   object
 66  Sex                            3006 non-null   object
 67  only genus level               3690 non-null   object
 68  bee specialist                 3579 non-null   float64
 69  specialized on                 25 non-null     object
 70  parasitic                      3579 non-null   float64
 71  nesting                        3646 non-null   object
 72  status                         26 non-null     object
 73  non-native bee                 3580 non-null   float64
 74  other species characteristics  1477 non-null   object
dtypes: float64(49), int64(1), object(25)
memory usage: 2.1+ MB

The method info() provides technical information about a DataFrame, so let’s view the output in more detail:

df2 is a DataFrame.

There are 24  entries, i.e. 24  rows.

Each row has a row label (aka the index) with values ranging from 0 to  0 to 23.

The table has 25 columns. Most columns have a value for each of the rows (all  values are non-null). 

There are some columns with textual data (strings, aka object). The other columns are numerical data with some of them whole numbers (aka integer) and others are real numbers (aka float).

The kind of data (characters, integers,…) in the different columns are summarized by listing the dtypes.

The approximate amount of RAM used to hold the DataFrame is provided as well.

In [3]:
#read the first 5 rows of df1 using the head method
df2.head()

,id,institutionCode,collectionCode,basisOfRecord,occurrenceID,catalogNumber,recordedBy,year,month,day,...,identifiedBy,scientificName,kingdom,phylum,class,order,family,genus,specificEpithet,scientificNameAuthorship
0,66908,USDA-ARS,BBSL,PreservedSpecimen,NaN,BOMBUS1055,NaN,1965,8,11,...,NaN,Bombus pensylvanicus,Animalia,Arthropoda,Insecta,Hymenoptera,Apidae,Bombus,pensylvanicus,(DeGeer 1773)
1,66909,USDA-ARS,BBSL,PreservedSpecimen,NaN,BOMBUS1062,NaN,1928,8,26,...,NaN,Bombus pensylvanicus,Animalia,Arthropoda,Insecta,Hymenoptera,Apidae,Bombus,pensylvanicus,(DeGeer 1773)
2,66910,USDA-ARS,BBSL,PreservedSpecimen,NaN,BOMBUS1063,NaN,1928,8,21,...,NaN,Bombus pensylvanicus,Animalia,Arthropoda,Insecta,Hymenoptera,Apidae,Bombus,pensylvanicus,(DeGeer 1773)
3,66911,USDA-ARS,BBSL,PreservedSpecimen,NaN,BOMBUS1064,NaN,1928,8,5,...,NaN,Bombus pensylvanicus,Animalia,Arthropoda,Insecta,Hymenoptera,Apidae,Bombus,pensylvanicus,(DeGeer 1773)
4,66912,USDA-ARS,BBSL,PreservedSpecimen,NaN,BOMBUS1065,NaN,1928,8,19,...,NaN,Bombus pensylvanicus,Animalia,Arthropoda,Insecta,Hymenoptera,Apidae,Bombus,pensylvanicus,(DeGeer 1773)

In [4]:
# generate some descriptive statistics for one column, year
df2['year'].describe()

count      24.00000
mean     1940.12500
std        20.28774
min      1908.00000
25%      1928.00000
50%      1928.00000
75%      1962.00000
max      1984.00000
Name: year, dtype: float64