In [32]:
import pandas as pd

df1=pd.read_csv('/workspaces/myfolder/SASPythonDataScientists/pattern_decline_N_American_Bumblebees.csv', encoding='latin-1')
df2=pd.read_csv('/workspaces/myfolder/SASPythonDataScientists/pattern_decline_Mexican_Bumblebees.csv' , encoding='latin-1')
df3=pd.read_csv('/workspaces/myfolder/SASPythonDataScientists/Bumblebee_Others_Scientific_Common_Names.csv' , encoding='latin-1')
df4=pd.read_csv('/workspaces/myfolder/SASPythonDataScientists/native_vs_nonnative_bumblebee_sighting_pollinators_of_farm_data_for_publication.csv' , encoding='latin-1')

/tmp/ipykernel_53832/2137453403.py:3: DtypeWarning: Columns (6,16) have mixed types. Specify dtype option on import or set low_memory=False.
  df1=pd.read_csv('/workspaces/myfolder/SASPythonDataScientists/pattern_decline_N_American_Bumblebees.csv', encoding='latin-1')

In [33]:
#metadata
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24 entries, 0 to 23
Data columns (total 26 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   id                        24 non-null     int64
 1   institutionCode           24 non-null     object
 2   collectionCode            24 non-null     object
 3   basisOfRecord             24 non-null     object
 4   occurrenceID              0 non-null      float64
 5   catalogNumber             24 non-null     object
 6   recordedBy                0 non-null      float64
 7   year                      24 non-null     int64
 8   month                     24 non-null     int64
 9   day                       24 non-null     int64
 10  country                   24 non-null     object
 11  stateProvince             24 non-null     object
 12  county                    0 non-null      float64
 13  locality                  23 non-null     object
 14  verbatimLatitude          23 non-null     float64
 15  verbatimLongitude         23 non-null     float64
 16  identifiedBy              0 non-null      float64
 17  scientificName            24 non-null     object
 18  kingdom                   24 non-null     object
 19  phylum                    24 non-null     object
 20  class                     24 non-null     object
 21  order                     24 non-null     object
 22  family                    24 non-null     object
 23  genus                     24 non-null     object
 24  specificEpithet           24 non-null     object
 25  scientificNameAuthorship  24 non-null     object
dtypes: float64(6), int64(4), object(16)
memory usage: 5.0+ KB

The method info() provides technical information about a DataFrame, so letâ€™s view the output in more detail:

df2 is a DataFrame.

There are 24  entries, i.e. 24  rows.

Each row has a row label (aka the index) with values ranging from 0 to  0 to 23.

The table has 25 columns. Most columns have a value for each of the rows (all  values are non-null). 

There are some columns with textual data (strings, aka object). The other columns are numerical data with some of them whole numbers (aka integer) and others are real numbers (aka float).

The kind of data (characters, integers,â€¦) in the different columns are summarized by listing the dtypes.

The approximate amount of RAM used to hold the DataFrame is provided as well.

In [4]:
#read the first 5 rows of df1 using the head method
df2.head()

,id,institutionCode,collectionCode,basisOfRecord,occurrenceID,catalogNumber,recordedBy,year,month,day,...,identifiedBy,scientificName,kingdom,phylum,class,order,family,genus,specificEpithet,scientificNameAuthorship
0,66908,USDA-ARS,BBSL,PreservedSpecimen,NaN,BOMBUS1055,NaN,1965,8,11,...,NaN,Bombus pensylvanicus,Animalia,Arthropoda,Insecta,Hymenoptera,Apidae,Bombus,pensylvanicus,(DeGeer 1773)
1,66909,USDA-ARS,BBSL,PreservedSpecimen,NaN,BOMBUS1062,NaN,1928,8,26,...,NaN,Bombus pensylvanicus,Animalia,Arthropoda,Insecta,Hymenoptera,Apidae,Bombus,pensylvanicus,(DeGeer 1773)
2,66910,USDA-ARS,BBSL,PreservedSpecimen,NaN,BOMBUS1063,NaN,1928,8,21,...,NaN,Bombus pensylvanicus,Animalia,Arthropoda,Insecta,Hymenoptera,Apidae,Bombus,pensylvanicus,(DeGeer 1773)
3,66911,USDA-ARS,BBSL,PreservedSpecimen,NaN,BOMBUS1064,NaN,1928,8,5,...,NaN,Bombus pensylvanicus,Animalia,Arthropoda,Insecta,Hymenoptera,Apidae,Bombus,pensylvanicus,(DeGeer 1773)
4,66912,USDA-ARS,BBSL,PreservedSpecimen,NaN,BOMBUS1065,NaN,1928,8,19,...,NaN,Bombus pensylvanicus,Animalia,Arthropoda,Insecta,Hymenoptera,Apidae,Bombus,pensylvanicus,(DeGeer 1773)

In [6]:
# generate some descriptive statistics for one column, year
df2['year'].describe()

count      24.00000
mean     1940.12500
std        20.28774
min      1908.00000
25%      1928.00000
50%      1928.00000
75%      1962.00000
max      1984.00000
Name: year, dtype: float64

In [3]:
display(df3)

,ScientificName,Species,specificEpithet,CommonName,Description,Source
0,Agapostemon,Agapostemon,NaN,Metallic Green Bee,Found across North America; favors sunflowers ...,Discover Life
1,Agapostemon sericeus,Agapostemon,sericeus,Silky Agapostemon,Found in U.S. grasslands and fields; prefers d...,BugGuide
2,Agapostemon splendens,Agapostemon,splendens,Splendid Agapostemon,Located in the eastern U.S.; enjoys goldenrods...,Discover Life
3,Agapostemon texanus,Agapostemon,texanus,Texas Agapostemon,Found in Texas; pollinates bluebonnets and wil...,BugGuide
4,Agapostemon virescens,Agapostemon,virescens,Bicolored Striped Sweat Bee,Widespread in North America; favors asters and...,Discover Life
...,...,...,...,...,...,...
157,Osmia bucephala,Osmia,bucephala,Large-headed Mason Bee,Found in western U.S.; enjoys small flowers; a...,BugGuide
158,Osmia collinsiae,Osmia,collinsiae,Collins' Mason Bee,Found in northeastern U.S.; enjoys small flowe...,Discover Life
159,Osmia distincta,Osmia,distincta,Distinct Mason Bee,Found in woodlands and fields; enjoys small fl...,BugGuide
160,Osmia georgica,Osmia,georgica,Georgia Mason Bee,Found in southeastern U.S.; enjoys wildflowers...,Discover Life
161,Osmia pumila,Osmia,pumila,Little Mason Bee,Found in gardens and woodlands; enjoys small f...,Discover Life

In [9]:
df3[['ScientificName','CommonName']].tail(20)

          ScientificName                     CommonName
142  Melissodes trinodis  Three-knobbed Long-horned Bee
143      Melitoma taurea                     Taurus Bee
144               Nomada                     Cuckoo Bee
145    Nomada articulata         Articulated Cuckoo Bee
146     Nomada australis            Southern Cuckoo Bee
147     Nomada bidentata         Two-toothed Cuckoo Bee
148   Nomada denticulata             Toothed Cuckoo Bee
149     Nomada imbricata         Overlapping Cuckoo Bee
150   Nomada luteoloides              Yellow Cuckoo Bee
151      Nomada maculata             Spotted Cuckoo Bee
152         Nomada parva               Small Cuckoo Bee
153       Nomada pygmaea               Pygmy Cuckoo Bee
154        Nomada texana               Texas Cuckoo Bee
155        Nomada vegana               Vegan Cuckoo Bee
156    Osmia atriventris        Black-bellied Mason Bee
157      Osmia bucephala         Large-headed Mason Bee
158     Osmia collinsiae             Collins' Mason Bee
159      Osmia distincta             Distinct Mason Bee
160       Osmia georgica              Georgia Mason Bee
161         Osmia pumila               Little Mason Bee

## Merging data frames

We're diving into the world of bumblebees by buzzing through some data magic in Python! Imagine we've got one table that's packed with the common names of our favorite fuzzy pollinators, and another that's got their nesting habits. By merging the common names  with the nesting habits names into one tidy table, we're basically creating the ultimate bee databaseâ€”bringing together the familiar and the formal. It's like giving each bee its proper name tag at the hive party! This way, we can easily connect the dots between the Latin and the layman's terms, making our bumblebee data analysis as sweet as honey. ðŸðŸ’»

Take a quick look at the dimensions of the tables we are about to merge

In [26]:
df4.shape

(3744, 75)

When working with our two bumblebee tablesâ€”one buzzing with scientific names and the other humming with common namesâ€”Python's merge() function is like a matchmaker for your data. The great thing about merge() is that it lets you decide exactly how these two tables come together. Say you want to merge them based on the ScientificName column, ensuring that each bee's formal identity pairs up perfectly with its everyday nickname. By using the on parameter, you can create the ultimate bee directory where the Latin meets the common, all while keeping your data as sharp as a bee's stinger! ðŸðŸ”—

In the world of pandas, DataFrames have a merge() method,  with similar functionality to SAS joins. No need to sort ahead of timeâ€”perform all kinds of different joins by simply using the how keyword. Itâ€™s like a hive of possibilities for your data!

In [30]:
df3(list)

TypeError: 'DataFrame' object is not callable

In [27]:
dfmerged = pd.merge(df3, df4, on=["Species"])[[ 'nesting', 'ScientificName']]
print(dfmerged)

                nesting         ScientificName
0                ground            Agapostemon
1                ground   Agapostemon sericeus
2                ground  Agapostemon splendens
3                ground    Agapostemon texanus
4                ground  Agapostemon virescens
...                 ...                    ...
1678  parasite [ground]         Nomada pygmaea
1679  parasite [ground]          Nomada texana
1680  parasite [ground]          Nomada texana
1681  parasite [ground]          Nomada vegana
1682  parasite [ground]          Nomada vegana

[1683 rows x 2 columns]

 column names for dataframes are case sensitive.

Dataframe column names are essentially string values, which are case sensitive in Python. Because of this, you will need to be careful whenever you utilize column names, such as when renaming a column, accessing columns or performing functions on them.

In [20]:
df3.columns = df3.columns.str.lower()

In [21]:
df4.columns = df4.columns.str.lower()

In [22]:
list(df3)

['scientificname',
 'species',
 'specificepithet',
 'commonname',
 'description',
 'source']

In [24]:
dfmerged = pd.merge(df3, df4, on=["species"])[[ 'nesting', 'ScientificName']]
print(dfmerged)

KeyError: "['ScientificName'] not in index"

In [ ]:
list(df4)

In [ ]:
df_inner = df3.merge(df4, on=["species"], how="inner")

In [12]:
df_inner[['scientificname','commonname', 'nesting']].head(20)

NameError: name 'df_inner' is not defined

Merge df1 and df3 on column scientificname to see where bombus nests

In [ ]:
df_merged = pd.merge(df3, df4, on='Species', how='inner')[['scientificName', 'nesting']]

In [ ]:
# get me the all the Bombus species with nesting values -start here & clean up story around merging & concatenating
merged[['Species'] == 'Bombus','nesting']

In [ ]:
list(df3)

In [ ]:
list(df4)

In [ ]:
# Read the native vs non native bumblebee CSV file into a DataFrame for easy data manipulation and analysis.
df5=pd.read_csv('/workspaces/myfolder/SASPythonDataScientists/native_vs_nonnative_bumblebee_sighting_pollinators_of_farm_data_for_publication.csv', encoding='latin-1')

In [ ]:
df5.describe

## Grouping Aggregating Data

#### keep columns

In [ ]:
dfbig = dfbig[['scientificName','stateProvince']]

https://stackoverflow.com/questions/47320572/pandas-groupby-and-count

In [ ]:
pd.set_option('display.max_rows', None)

In [ ]:
dfbig.groupby(['stateProvince','scientificName'])['scientificName'].count().head(20)

chaining, create an obj with syntax

In [ ]:
dfbig.value_counts(subset=['scientificName', 'stateProvince']).head(20)

In [ ]:
dfbig.head(20)

In [ ]:
display(dfbig)

#### Get to know data types

In [ ]:
print(dfbig.dtypes)

When you import data into a Pandas DataFrame, Pandas by default tries to know the data types of each column. Columns with text are by default marked as Object datatype.

But Object dtype have a much broader scope. They can not only include strings, but also any other data that Pandas doesn't understand.

After Pandas 1.0 (now 1.1.2), there's a dedicated dtype to handle and work with text data, that is, String.ðŸ¤”

How is this important?

When a column is Object type, it does not necessarily mean that all the values will be string.

In fact, they can all be numbers, or a mixture of string, integers and floats.

With this discrepancy present, you can not do any string operation on the column straightaway.

Moreover, having dtype as Object will make it less clear to work with just text and exclude the non-text values.

With the new String dtype, the values are explicitly treated as strings.

In [ ]:
df.fillna(df.mean(), inplace=True)
print(df)

Convert the DataFrame to use best possible dtypes.

In [ ]:
dfconv = dfbig.convert_dtypes()
dfconv.dtypes

#### Request descriptive statistics

In [ ]:
print(dfconv.describe())

While Python is a power language, it may not have ready-to-use functions that replicates SAS procedure exactly.

In Python, first group by age_category gender, aggregate by statistical functions, such as:

In [31]:
dt=df1.groupby(['year','month']).agg(['mean','max','min','count'])

TypeError: agg function failed [how->mean,dtype->object]

In [ ]:
dt=df1.groupby(['year','month']).agg(['count'])

In [ ]:
display(dt)

#### Request first 5 rows of data

In [ ]:
print(dfconv.head())

In [ ]:
print(dfconv.tail())

In [ ]:
pattern = r'[a-z]ern|ed|-( |^(1))'

## Handling Missing Values Fill missing values with the column mean

Handling missing values is crucial for maintaining data integrity and ensuring accurate analysis. Missing data can be filled using various methods, such as replacing them with the column mean. This task involves using the fillna function to fill any NaN (Not a Number) values in the DataFrame with the mean of their respective columns, thereby preventing potential biases or errors in subsequent analyses.

## Grouping Aggregating Data

## Applying a Function to Each Column

Applying a function to each column allows you to perform element-wise operations across the DataFrame. This task involves using the apply function with a lambda function to modify the values in each column. For example, multiplying each element by 2. This technique is useful for standardizing data, performing calculations, and transforming data values as needed.

In [ ]:
# Apply a lambda function to each column
df = df.apply(lambda x: x*2)
print(df)

## Exporting DataFrame to CSV

In [ ]:
# Export the DataFrame to a CSV file
df.to_csv('cleaned_data.csv', index=False)
print("DataFrame exported to cleaned_data.csv")

get a python list

In [ ]:
list(df1)

In [ ]:
df1.select_dtypes(include=['object']).columns

In [ ]:
pd.crosstab(index=df1['column'])

Ari 20aug 24 frequency counts for all categorical variables
for loop-instead of looping over index; iterating thro categorical columns
column =goes thro each of the list elements
display - print -running crosstab method in pandas;

In [ ]:
tables=[]
for column in df1.select_dtypes(include=['object']).columns:
    tables.append(pd.crosstab(index=df1[column], columns='number of observations'))

In [ ]:
tables

In [ ]:
for column in df1.select_dtypes(include=['object']).columns:
    display(pd.crosstab(index=df1[column], columns='number of observations'))

In [ ]:
for column in df1.select_dtypes(include=['object']).columns:
    display(pd.crosstab(index=df1[column], columns='% observations', normalize='columns')*100)

In [ ]:
dfcount=df1.groupby(list(df1)).size()
print("counts",dfcount)

In [ ]:
dfcount=df1.groupby(['country']).size()
print("counts",dfcount)

In [ ]:
dfcount=dfconv.groupby(['country']).size()
print("counts",dfcount)

The nunique() method returns the number of unique values for each column.

By specifying the column axis (axis='columns'), the nunique() method searches column-wise and returns the number of unique values for each row.

Syntax
dataframe.nunique(axis, dropna)

In [ ]:
dfconv.nunique('columns')

In [ ]:
diff types is the problem
dfconv.apply(lambda x: x.value_counts()).T.stack()

In [ ]:
count = df1.groupby(['country', 'stateProvince', 'scientificName']).size() 
print(count)

In [ ]:
count = dfconv.groupby(['country', 'stateProvince', 'scientificName']).size() 
print(count)

In [ ]:
count = df['fruit'].value_counts()['apple']

print(f"The number of apples is: {count}")

### How does the presence of non-native plant species affect bumblebee populations?

## Pivoting data frames

In [ ]:
# Pivot the DataFrame on 'index', 'columns', and 'values'
pivot_df = df.pivot(index='date', columns='category', values='value')
print(pivot_df)

## Resampling Time Series Data

In [ ]:
# Resample time series data to monthly frequency
df['date'] = pd.to_datetime(df['date'])
df.set_index('date', inplace=True)
monthly_df = df.resample('M').sum()
print(monthly_df)

## Removing Duplicate Rows

In [ ]:

# Remove duplicate rows based on all columns
df.drop_duplicates(inplace=True)
print(df)

## Saving imported file to workbench

In [ ]:
import requests

# File path and name
file_path = r"/workspaces/myfolder/MachineLearning/hmeq.csv"
 
# Specify the URL of the CSV file
url = r"https://support.sas.com/documentation/onlinedoc/viya/exampledatasets/hmeq.csv"
 
# Download the and save CSV file to Workbench
response = requests.get(url)
with open(file_path, 'wb') as f:
    f.write(response.content)
    print(f'File downloaded:{file_path}')