## SAS Data Science Methodology

Access - Identify analysis tables that will be used in load those tables.<br> 
Explore/Investigate - Inspect tables to determine whether any changes are needed for data items due to data inconsistencies or data quality issues, as well as identify any new data items that need to be calculated. <br>
<b>Prepare - Correct any data quality issues and create any new calculated items needed for analysis. </b><br>
Analyze - Explore  data to identify any patterns, relationships, and trends. <br>
Report - Develop interactive reports that can be shared via the web or a mobile device.

In [ ]:
import pandas as pd

df1=pd.read_csv('/workspaces/myfolder/SASPythonDataScientists/pattern_decline_N_American_Bumblebees.csv', encoding='latin-1')
df2=pd.read_csv('/workspaces/myfolder/SASPythonDataScientists/pattern_decline_Mexican_Bumblebees.csv' , encoding='latin-1')
df3=pd.read_csv('/workspaces/myfolder/SASPythonDataScientists/Bumblebee_Others_Scientific_Common_Names.csv' , encoding='latin-1')
df4=pd.read_csv('/workspaces/myfolder/SASPythonDataScientists/native_vs_nonnative_bumblebee_sighting_pollinators_of_farm_data_for_publication.csv' , encoding='latin-1')

## Python Data Preparation

##### Concatenate 2 data frames to combine North American(excluding Alaska) and Mexican Bumblebees

Take a quick look at the dimensions of the 2 dataframes we are about to concatenate

In [ ]:
# North American bumblebee decline dataframe
df1.shape

In [ ]:
# Mexican bumblebee decline dataframe
df2.shape

Concatenation is a way to stitch dataframes along an axis, either row axis or column axis

use concat() and pass it a list of DataFrames that you want to concatenate. Code for this task below

In [ ]:
dfconc=pd.concat([df1,df2])

In [28]:
dfconc.shape

(66931, 26)

concatenating along columns-concat() call like you did above, but you’ll also need to pass the axis parameter with a value of 1 or "columns"

In [ ]:
dfconccol=pd.concat([df1,df2], axis='columns')

In [ ]:
dfconccol=pd.concat([df1,df2], axis=1)

In [ ]:
dfconccol.shape

##### Filter for north american bumblebees minus alaska

In [27]:
dfnoal=dfconc[dfconc['stateProvince'] !='Alaska' ]
print(dfnoal)

       id institutionCode collectionCode      basisOfRecord  occurrenceID  \
0       1        USDA-ARS           BBSL  PreservedSpecimen   699384987.0
1       2        USDA-ARS           BBSL  PreservedSpecimen   699384988.0
2       3        USDA-ARS           BBSL  PreservedSpecimen   699384989.0
3       4        USDA-ARS           BBSL  PreservedSpecimen   699384990.0
4       5        USDA-ARS           BBSL  PreservedSpecimen   699384991.0
..    ...             ...            ...                ...           ...
19  66927        USDA-ARS           BBSL  PreservedSpecimen           NaN
20  66928        USDA-ARS           BBSL  PreservedSpecimen           NaN
21  66929        USDA-ARS           BBSL  PreservedSpecimen           NaN
22  66930        USDA-ARS           BBSL  PreservedSpecimen           NaN
23  66931        USDA-ARS           BBSL  PreservedSpecimen           NaN

   catalogNumber        recordedBy    year  month   day  ...  \
0     BBSL221088       W. Apperson  1970.0    7.0  27.0  ...
1     BBSL241571       W. Apperson  1970.0    7.0  27.0  ...
2          76122         B. Hevron  1989.0    6.0  16.0  ...
3       JPS30053  P.S. Bartholomew  1970.0    9.0  15.0  ...
4     BBSL226571       W.J. Hanson  1961.0    8.0  15.0  ...
..           ...               ...     ...    ...   ...  ...
19    BOMBUS1219               NaN  1928.0    8.0  19.0  ...
20    BOMBUS1348               NaN  1928.0    7.0  13.0  ...
21   BOMBUS33485               NaN  1930.0    9.0  13.0  ...
22   BOMBUS33755               NaN  1944.0    1.0   8.0  ...
23   BOMBUS37213               NaN  1933.0    6.0  19.0  ...

          identifiedBy        scientificName   kingdom      phylum    class  \
0                  NaN   Bombus occidentalis  Animalia  Arthropoda  Insecta
1                  NaN   Bombus occidentalis  Animalia  Arthropoda  Insecta
2   T.L. Griswold 1994       Bombus bifarius  Animalia  Arthropoda  Insecta
3   R.S. Jacobson 1991   Bombus occidentalis  Animalia  Arthropoda  Insecta
4                  NaN       Bombus bifarius  Animalia  Arthropoda  Insecta
..                 ...                   ...       ...         ...      ...
19                 NaN  Bombus pensylvanicus  Animalia  Arthropoda  Insecta
20                 NaN  Bombus pensylvanicus  Animalia  Arthropoda  Insecta
21                 NaN  Bombus pensylvanicus  Animalia  Arthropoda  Insecta
22                 NaN  Bombus pensylvanicus  Animalia  Arthropoda  Insecta
23                 NaN      Bombus impatiens  Animalia  Arthropoda  Insecta

          order  family   genus specificEpithet scientificNameAuthorship
0   Hymenoptera  Apidae  Bombus    occidentalis              Greene 1858
1   Hymenoptera  Apidae  Bombus    occidentalis              Greene 1858
2   Hymenoptera  Apidae  Bombus        bifarius             Cresson 1878
3   Hymenoptera  Apidae  Bombus    occidentalis              Greene 1858
4   Hymenoptera  Apidae  Bombus        bifarius             Cresson 1878
..          ...     ...     ...             ...                      ...
19  Hymenoptera  Apidae  Bombus   pensylvanicus            (DeGeer 1773)
20  Hymenoptera  Apidae  Bombus   pensylvanicus            (DeGeer 1773)
21  Hymenoptera  Apidae  Bombus   pensylvanicus            (DeGeer 1773)
22  Hymenoptera  Apidae  Bombus   pensylvanicus            (DeGeer 1773)
23  Hymenoptera  Apidae  Bombus       impatiens             Cresson 1863

[66931 rows x 26 columns]

In [ ]:
dfnoal.info()

##### Python Frequency counts for scientific name

The value_counts function returns the distinct values in a column along with their number of occurrences. Missing values are ignored by default. If we know that missing values exist in a column, it is best to count them as well. The dropna parameter is set to False to include the missing values.

Counting missing values is an essential step in data cleaning and preprocessing, but why do we see no missing values for scientificname

In [ ]:
display(dfnoal)

#### Boolean Mask

The notna() function returns a Boolean Series where True represents a non-missing value and False represents a missing value. The sum() function is then used to count the number of True values, which represent the non-missing values.
We then use the isna() method to create a Boolean mask of the DataFrame, where True indicates a missing value. We use the sum() method  to count the number of True values in each row.

In [ ]:
print(dfnoal['genus'].notna().sum())
print(dfnoal['genus'].isna().sum())

#####  Filtering Rows Based on a Condition

Filtering rows based on a condition is a common data management task that allows you to focus on a specific subset of your data. By applying a condition to a column, such as selecting rows where the pollinator_genus is Bumblebee, you can isolate and analyze the data that meets your criteria. This helps in drawing insights and making data-driven decisions based on relevant data subsets.

In [29]:
# Filter rows where 
filtered_df = dfnoal.query('genus == "Bombus"')
print(filtered_df)

       id institutionCode collectionCode      basisOfRecord  occurrenceID  \
0       1        USDA-ARS           BBSL  PreservedSpecimen   699384987.0
1       2        USDA-ARS           BBSL  PreservedSpecimen   699384988.0
2       3        USDA-ARS           BBSL  PreservedSpecimen   699384989.0
3       4        USDA-ARS           BBSL  PreservedSpecimen   699384990.0
4       5        USDA-ARS           BBSL  PreservedSpecimen   699384991.0
..    ...             ...            ...                ...           ...
19  66927        USDA-ARS           BBSL  PreservedSpecimen           NaN
20  66928        USDA-ARS           BBSL  PreservedSpecimen           NaN
21  66929        USDA-ARS           BBSL  PreservedSpecimen           NaN
22  66930        USDA-ARS           BBSL  PreservedSpecimen           NaN
23  66931        USDA-ARS           BBSL  PreservedSpecimen           NaN

   catalogNumber        recordedBy    year  month   day  ...  \
0     BBSL221088       W. Apperson  1970.0    7.0  27.0  ...
1     BBSL241571       W. Apperson  1970.0    7.0  27.0  ...
2          76122         B. Hevron  1989.0    6.0  16.0  ...
3       JPS30053  P.S. Bartholomew  1970.0    9.0  15.0  ...
4     BBSL226571       W.J. Hanson  1961.0    8.0  15.0  ...
..           ...               ...     ...    ...   ...  ...
19    BOMBUS1219               NaN  1928.0    8.0  19.0  ...
20    BOMBUS1348               NaN  1928.0    7.0  13.0  ...
21   BOMBUS33485               NaN  1930.0    9.0  13.0  ...
22   BOMBUS33755               NaN  1944.0    1.0   8.0  ...
23   BOMBUS37213               NaN  1933.0    6.0  19.0  ...

          identifiedBy        scientificName   kingdom      phylum    class  \
0                  NaN   Bombus occidentalis  Animalia  Arthropoda  Insecta
1                  NaN   Bombus occidentalis  Animalia  Arthropoda  Insecta
2   T.L. Griswold 1994       Bombus bifarius  Animalia  Arthropoda  Insecta
3   R.S. Jacobson 1991   Bombus occidentalis  Animalia  Arthropoda  Insecta
4                  NaN       Bombus bifarius  Animalia  Arthropoda  Insecta
..                 ...                   ...       ...         ...      ...
19                 NaN  Bombus pensylvanicus  Animalia  Arthropoda  Insecta
20                 NaN  Bombus pensylvanicus  Animalia  Arthropoda  Insecta
21                 NaN  Bombus pensylvanicus  Animalia  Arthropoda  Insecta
22                 NaN  Bombus pensylvanicus  Animalia  Arthropoda  Insecta
23                 NaN      Bombus impatiens  Animalia  Arthropoda  Insecta

          order  family   genus specificEpithet scientificNameAuthorship
0   Hymenoptera  Apidae  Bombus    occidentalis              Greene 1858
1   Hymenoptera  Apidae  Bombus    occidentalis              Greene 1858
2   Hymenoptera  Apidae  Bombus        bifarius             Cresson 1878
3   Hymenoptera  Apidae  Bombus    occidentalis              Greene 1858
4   Hymenoptera  Apidae  Bombus        bifarius             Cresson 1878
..          ...     ...     ...             ...                      ...
19  Hymenoptera  Apidae  Bombus   pensylvanicus            (DeGeer 1773)
20  Hymenoptera  Apidae  Bombus   pensylvanicus            (DeGeer 1773)
21  Hymenoptera  Apidae  Bombus   pensylvanicus            (DeGeer 1773)
22  Hymenoptera  Apidae  Bombus   pensylvanicus            (DeGeer 1773)
23  Hymenoptera  Apidae  Bombus       impatiens             Cresson 1863

[66931 rows x 26 columns]

In [ ]:
dfnoal[dfnoal['genus'] == 'Bombus']

In [30]:
sum(dfnoal['genus'] == 'Bombus')

66931

In [31]:
sum(~(df4['Species'] == 'Bombus'))

3740

In [ ]:
sum((df4['Species'] != 'Bombus'))

## Merging data frames

We're diving into the world of bumblebees by buzzing through some data magic in Python! Imagine we've got one table that's packed with the common names of our favorite fuzzy pollinators, and another that's got their nesting habits. By merging the common names  with the nesting habits names into one tidy table, we're basically creating the ultimate bee database—bringing together the familiar and the formal. It's like giving each bee its proper name tag at the hive party! This way, we can easily connect the dots between the Latin and the layman's terms, making our bumblebee data analysis as sweet as honey. 🐝💻

In [ ]:
list(df4)

In [ ]:
print(df4)

In [ ]:
df4.describe

Take a quick look at the dimensions of the tables we are about to merge

In [ ]:
df4.shape

When working with our two bumblebee tables—one buzzing with scientific names and the other humming with common names—Python's merge() function is like a matchmaker for your data. The great thing about merge() is that it lets you decide exactly how these two tables come together. Say you want to merge them based on the ScientificName column, ensuring that each bee's formal identity pairs up perfectly with its everyday nickname. By using the on parameter, you can create the ultimate bee directory where the Latin meets the common, all while keeping your data as sharp as a bee's stinger! 🐝🔗

qIn the world of pandas, DataFrames have a merge() method,  with similar functionality to SAS joins. No need to sort ahead of time—perform all kinds of different joins by simply using the how keyword. It’s like a hive of possibilities for your data!

In [ ]:
inner_merged = pd.merge(df3, df4, on=["SPECIES"])

In [ ]:
inner_join = df1.merge(df3, on=["SCIENTIFICNAME"], how="inner")

 column names for dataframes are case sensitive.

Dataframe column names are essentially string values, which are case sensitive in Python. Because of this, you will need to be careful whenever you utilize column names, such as when renaming a column, accessing columns or performing functions on them.

In [ ]:
df3.columns = df3.columns.str.lower()

In [ ]:
list(df3)

In [ ]:
df4.columns = df4.columns.str.lower()

In [ ]:
list(df4)

In [ ]:
df_inner = df3.merge(df4, on=["species"], how="inner")

In [ ]:
df_inner[['scientificname','commonname', 'nesting']].head(20)

In [ ]:
df_inner.describe

In [ ]:
df3.describe

In [ ]:
inner_merged.shape

### Merge df1 and df3 on column scientificname to see where bombus nests

In [ ]:
merged = pd.merge(df3, df4, on=["species"])
print(merged)

In [ ]:
# get me the all the Bombus species with nesting values -start here & clean up story around merging & concatenating
merged[['Species'] == 'Bombus','nesting']

In [ ]:
list(df3)

In [ ]:
list(df4)

In [ ]:
# Read the native vs non native bumblebee CSV file into a DataFrame for easy data manipulation and analysis.
df5=pd.read_csv('/workspaces/myfolder/SASPythonDataScientists/native_vs_nonnative_bumblebee_sighting_pollinators_of_farm_data_for_publication.csv', encoding='latin-1')

In [ ]:
df5.describe

## Grouping Aggregating Data

#### keep columns

In [ ]:
dfbig = dfbig[['scientificName','stateProvince']]

https://stackoverflow.com/questions/47320572/pandas-groupby-and-count

In [ ]:
pd.set_option('display.max_rows', None)

In [ ]:
dfbig.groupby(['stateProvince','scientificName'])['scientificName'].count().head(20)

chaining, create an obj with syntax

In [ ]:
dfbig.value_counts(subset=['scientificName', 'stateProvince']).head(20)

In [ ]:
dfbig.head(20)

In [ ]:
display(dfbig)

#### Get to know data types

In [ ]:
print(dfbig.dtypes)

When you import data into a Pandas DataFrame, Pandas by default tries to know the data types of each column. Columns with text are by default marked as Object datatype.

But Object dtype have a much broader scope. They can not only include strings, but also any other data that Pandas doesn't understand.

After Pandas 1.0 (now 1.1.2), there's a dedicated dtype to handle and work with text data, that is, String.🤔

How is this important?

When a column is Object type, it does not necessarily mean that all the values will be string.

In fact, they can all be numbers, or a mixture of string, integers and floats.

With this discrepancy present, you can not do any string operation on the column straightaway.

Moreover, having dtype as Object will make it less clear to work with just text and exclude the non-text values.

With the new String dtype, the values are explicitly treated as strings.

In [ ]:
df.fillna(df.mean(), inplace=True)
print(df)

Convert the DataFrame to use best possible dtypes.

In [ ]:
dfconv = dfbig.convert_dtypes()
dfconv.dtypes

#### Request descriptive statistics

In [ ]:
print(dfconv.describe())

While Python is a power language, it may not have ready-to-use functions that replicates SAS procedure exactly.

In Python, first group by age_category gender, aggregate by statistical functions, such as:

In [ ]:
dt=df1.groupby(['year','month']).agg(['mean','max','min','count'])

In [ ]:
dt=df1.groupby(['year','month']).agg(['count'])

In [ ]:
display(dt)

#### Request first 5 rows of data

In [ ]:
print(dfconv.head())

In [ ]:
print(dfconv.tail())

## Pattern Matching in Python

greedy vs lazy search

In [ ]:
import re

Find all instances of bee names ending in 'en' 'ed' or with a '-' using perl regular expression

 code to repeat this perl code where prxmatch('/[a-z]ern|ed|-( |^(1))/', commonname);

In [ ]:
pattern = r'[a-z]ern|ed|-( |^(1))'

## Handling Missing Values Fill missing values with the column mean

Handling missing values is crucial for maintaining data integrity and ensuring accurate analysis. Missing data can be filled using various methods, such as replacing them with the column mean. This task involves using the fillna function to fill any NaN (Not a Number) values in the DataFrame with the mean of their respective columns, thereby preventing potential biases or errors in subsequent analyses.

## Grouping Aggregating Data

## Applying a Function to Each Column

Applying a function to each column allows you to perform element-wise operations across the DataFrame. This task involves using the apply function with a lambda function to modify the values in each column. For example, multiplying each element by 2. This technique is useful for standardizing data, performing calculations, and transforming data values as needed.

In [ ]:
# Apply a lambda function to each column
df = df.apply(lambda x: x*2)
print(df)

## Exporting DataFrame to CSV

In [ ]:
# Export the DataFrame to a CSV file
df.to_csv('cleaned_data.csv', index=False)
print("DataFrame exported to cleaned_data.csv")

get a python list

In [ ]:
list(df1)

In [ ]:
df1.select_dtypes(include=['object']).columns

In [ ]:
pd.crosstab(index=df1['column'])

Ari 20aug 24 frequency counts for all categorical variables
for loop-instead of looping over index; iterating thro categorical columns
column =goes thro each of the list elements
display - print -running crosstab method in pandas;

In [ ]:
tables=[]
for column in df1.select_dtypes(include=['object']).columns:
    tables.append(pd.crosstab(index=df1[column], columns='number of observations'))

In [ ]:
tables

In [ ]:
for column in df1.select_dtypes(include=['object']).columns:
    display(pd.crosstab(index=df1[column], columns='number of observations'))

In [ ]:
for column in df1.select_dtypes(include=['object']).columns:
    display(pd.crosstab(index=df1[column], columns='% observations', normalize='columns')*100)

In [ ]:
dfcount=df1.groupby(list(df1)).size()
print("counts",dfcount)

In [ ]:
dfcount=df1.groupby(['country']).size()
print("counts",dfcount)

In [ ]:
dfcount=dfconv.groupby(['country']).size()
print("counts",dfcount)

The nunique() method returns the number of unique values for each column.

By specifying the column axis (axis='columns'), the nunique() method searches column-wise and returns the number of unique values for each row.

Syntax
dataframe.nunique(axis, dropna)

In [ ]:
dfconv.nunique('columns')

In [ ]:
diff types is the problem
dfconv.apply(lambda x: x.value_counts()).T.stack()

In [ ]:
count = df1.groupby(['country', 'stateProvince', 'scientificName']).size() 
print(count)

In [ ]:
count = dfconv.groupby(['country', 'stateProvince', 'scientificName']).size() 
print(count)

In [ ]:
count = df['fruit'].value_counts()['apple']

print(f"The number of apples is: {count}")

### How does the presence of non-native plant species affect bumblebee populations?

## Pivoting data frames

In [ ]:
# Pivot the DataFrame on 'index', 'columns', and 'values'
pivot_df = df.pivot(index='date', columns='category', values='value')
print(pivot_df)

## Resampling Time Series Data

In [ ]:
# Resample time series data to monthly frequency
df['date'] = pd.to_datetime(df['date'])
df.set_index('date', inplace=True)
monthly_df = df.resample('M').sum()
print(monthly_df)

## Removing Duplicate Rows

In [ ]:

# Remove duplicate rows based on all columns
df.drop_duplicates(inplace=True)
print(df)

## Saving imported file to workbench

In [ ]:
import requests

# File path and name
file_path = r"/workspaces/myfolder/MachineLearning/hmeq.csv"
 
# Specify the URL of the CSV file
url = r"https://support.sas.com/documentation/onlinedoc/viya/exampledatasets/hmeq.csv"
 
# Download the and save CSV file to Workbench
response = requests.get(url)
with open(file_path, 'wb') as f:
    f.write(response.content)
    print(f'File downloaded:{file_path}')