## SAS Data Science Methodology

Access - Identify analysis tables that will be used in load those tables.<br> 
Explore/Investigate - Inspect tables to determine whether any changes are needed for data items due to data inconsistencies or data quality issues, as well as identify any new data items that need to be calculated. <br>
Prepare - Correct any data quality issues and create any new calculated items needed for analysis. <br>
Analyze - Explore  data to identify any patterns, relationships, and trends. <br>
Report - Develop interactive reports that can be shared via the web or a mobile device.

In [5]:
import pandas as pd

df1=pd.read_csv('/workspaces/myfolder/SASPythonDataScientists/pattern_decline_NAmerican_Bumblebees.csv', encoding='latin-1')
df2=pd.read_csv('/workspaces/myfolder/SASPythonDataScientists/pattern_decline__Mexican_Bumblebees.csv' , encoding='latin-1')
df3=pd.read_csv('/workspaces/myfolder/SASPythonDataScientists/Bumblebee_Others_Scientific_Common_Names.csv' , encoding='latin-1')
df4=pd.read_csv('/workspaces/myfolder/SASPythonDataScientists/native_vs_nonnative_bumblebee_sighting_pollinators_of_farm_data_for_publication.csv' , encoding='latin-1')

/tmp/ipykernel_12706/203958902.py:3: DtypeWarning: Columns (7,21) have mixed types. Specify dtype option on import or set low_memory=False.
  df1=pd.read_csv('/workspaces/myfolder/SASPythonDataScientists/pattern_decline_NAmerican_Bumblebees.csv', encoding='latin-1')

## Python Data Exploration

Pandas describe() to view a statistical summary of a dataframe like percentile, mean, std, etc. of a data frame or a series of numeric values

In [8]:
#metadata
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24 entries, 0 to 23
Data columns (total 25 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   id                        24 non-null     int64
 1   institutionCode           24 non-null     object
 2   collectionCode            24 non-null     object
 3   basisOfRecord             24 non-null     object
 4   informationWithheld       0 non-null      float64
 5   occurrenceID              24 non-null     int64
 6   catalogNumber             24 non-null     object
 7   year                      24 non-null     int64
 8   month                     24 non-null     int64
 9   day                       24 non-null     int64
 10  country                   24 non-null     object
 11  stateProvince             24 non-null     object
 12  locality                  23 non-null     object
 13  verbatimLatitude          23 non-null     float64
 14  verbatimLongitude         23 non-null     float64
 15  scientificName            24 non-null     object
 16  kingdom                   24 non-null     object
 17  phylum                    24 non-null     object
 18  class                     24 non-null     object
 19  order                     24 non-null     object
 20  family                    24 non-null     object
 21  genus                     24 non-null     object
 22  specificEpithet           24 non-null     object
 23  scientificNameAuthorship  24 non-null     object
 24  vernacularName            0 non-null      float64
dtypes: float64(4), int64(5), object(16)
memory usage: 4.8+ KB

The method info() provides technical information about a DataFrame, so let’s view the output in more detail:

df2 is a DataFrame.

There are 24  entries, i.e. 24  rows.

Each row has a row label (aka the index) with values ranging from 0 to  0 to 23.

The table has 25 columns. Most columns have a value for each of the rows (all  values are non-null). 

There are some columns with textual data (strings, aka object). The other columns are numerical data with some of them whole numbers (aka integer) and others are real numbers (aka float).

The kind of data (characters, integers,…) in the different columns are summarized by listing the dtypes.

The approximate amount of RAM used to hold the DataFrame is provided as well.

In [9]:
#read the first 5 rows of df1 using the head method
df2.head()

,id,institutionCode,collectionCode,basisOfRecord,informationWithheld,occurrenceID,catalogNumber,year,month,day,...,scientificName,kingdom,phylum,class,order,family,genus,specificEpithet,scientificNameAuthorship,vernacularName
0,767110452,USDA-ARS,BBSL,PreservedSpecimen,NaN,767110452,BOMBUS1055,1965,8,11,...,Bombus pensylvanicus,Animalia,Arthropoda,Insecta,Hymenoptera,Apidae,Bombus,pensylvanicus,(DeGeer 1773),NaN
1,767110527,USDA-ARS,BBSL,PreservedSpecimen,NaN,767110527,BOMBUS1062,1928,8,26,...,Bombus pensylvanicus,Animalia,Arthropoda,Insecta,Hymenoptera,Apidae,Bombus,pensylvanicus,(DeGeer 1773),NaN
2,767110538,USDA-ARS,BBSL,PreservedSpecimen,NaN,767110538,BOMBUS1063,1928,8,21,...,Bombus pensylvanicus,Animalia,Arthropoda,Insecta,Hymenoptera,Apidae,Bombus,pensylvanicus,(DeGeer 1773),NaN
3,767110549,USDA-ARS,BBSL,PreservedSpecimen,NaN,767110549,BOMBUS1064,1928,8,5,...,Bombus pensylvanicus,Animalia,Arthropoda,Insecta,Hymenoptera,Apidae,Bombus,pensylvanicus,(DeGeer 1773),NaN
4,767110560,USDA-ARS,BBSL,PreservedSpecimen,NaN,767110560,BOMBUS1065,1928,8,19,...,Bombus pensylvanicus,Animalia,Arthropoda,Insecta,Hymenoptera,Apidae,Bombus,pensylvanicus,(DeGeer 1773),NaN

In [10]:
#summary statistics
df2.describe()

,id,informationWithheld,occurrenceID,year,month,day,verbatimLatitude,verbatimLongitude,vernacularName
count,2.400000e+01,0.0,2.400000e+01,24.00000,24.000000,24.000000,23.000000,23.000000,0.0
mean,7.671143e+08,NaN,7.671143e+08,1940.12500,7.208333,14.541667,21.707561,-97.566572,NaN
std,8.995903e+03,NaN,8.995903e+03,20.28774,2.084710,7.824039,5.250579,6.877705,NaN
min,7.671105e+08,NaN,7.671105e+08,1908.00000,1.000000,1.000000,17.066010,-104.372970,NaN
25%,7.671106e+08,NaN,7.671106e+08,1928.00000,7.000000,7.750000,19.246470,-99.376860,NaN
50%,7.671106e+08,NaN,7.671106e+08,1928.00000,8.000000,14.000000,19.246470,-99.101350,NaN
75%,7.671120e+08,NaN,7.671120e+08,1962.00000,8.000000,19.500000,21.932640,-99.101350,NaN
max,7.671401e+08,NaN,7.671401e+08,1984.00000,9.000000,30.000000,37.269540,-76.015210,NaN

In [11]:
# generate some descriptive statistics for one column, year
df2['year'].describe()

count      24.00000
mean     1940.12500
std        20.28774
min      1908.00000
25%      1928.00000
50%      1928.00000
75%      1962.00000
max      1984.00000
Name: year, dtype: float64

In [ ]:
#get frequency counts, create a value_counts dict with an entry for each col in df2, where each key is the column anme and each value is a series containing
the value counts for that column.
method:value_counts
for col in df2.columns = loop iterates over each column name & returnes a list-like object with all column names in df2
value_counts = {col: df2[col].value_counts() for col in df2.columns}

In [ ]:
print(value_counts)

Display just the 2 columns and 20 rows from df3

In [ ]:
display(df3)

In [ ]:
df3[['ScientificName','CommonName']].head(20)

##### Concatenating 2 data frames to combine North American(excluding Alaska) and Mexican Bumblebees

##### great explanation https://realpython.com/pandas-merge-join-and-concat/
https://pandas.pydata.org/docs/user_guide/merging.html

In [ ]:
dfbig=pd.concat([df1,df2])

In [ ]:
dfbig.describe()

In [ ]:
list(dfbig.columns)

### Filter for north american bumblebees minus alaska

In [ ]:
dfnoal=dfbig[dfbig['stateProvince'] !='Alaska' ]

In [ ]:
display(dfnoal)

In [ ]:
list(dfnoal.columns)

In [ ]:
dfnoal.describe()

In [ ]:
dfnoal['scientificName'].value_counts()

##  Filtering Rows Based on a Condition

Filtering rows based on a condition is a common data management task that allows you to focus on a specific subset of your data. By applying a condition to a column, such as selecting rows where the pollinator_genus is Bumblebee, you can isolate and analyze the data that meets your criteria. This helps in drawing insights and making data-driven decisions based on relevant data subsets.

In [ ]:
# Read the Scientific common names CSV file into a DataFrame for easy data manipulation and analysis.
df4=pd.read_csv('/workspaces/myfolder/SASPythonDataScientists/native_vs_nonnative_bumblebee_sighting_pollinators_of_farm_data_for_publication.csv' , encoding='latin-1')

In [ ]:
list(df4.columns)

In [ ]:
# Filter rows where 
filtered_df = df4.query('Species == "Bombus"')
print(filtered_df)

print creates a basic looking output, use df.head etc. instead
python is object oriented, so every line of code uses an object.
following cell is indexing. df is the dataframe. df[1] selects first row, df[1,2] selects first row, 2nd col; df[0:10, 2]

In [ ]:
df4[df4['Species'] == 'Bombus']

In [ ]:
df4['Species'] == 'Bombus'

In [ ]:
sum(df4['Species'] == 'Bombus')

In [ ]:
sum(~(df4['Species'] == 'Bombus'))

In [ ]:
sum((df4['Species'] != 'Bombus'))

## Merging data frames

We're diving into the world of bumblebees by buzzing through some data magic in Python! Imagine we've got one table that's packed with the common names of our favorite fuzzy pollinators, and another that's got their nesting habits. By merging the common names  with the nesting habits names into one tidy table, we're basically creating the ultimate bee database—bringing together the familiar and the formal. It's like giving each bee its proper name tag at the hive party! This way, we can easily connect the dots between the Latin and the layman's terms, making our bumblebee data analysis as sweet as honey. 🐝💻

In [ ]:
list(df4)

In [ ]:
print(df4)

In [ ]:
df4.describe

Take a quick look at the dimensions of the tables we are about to merge

In [ ]:
df4.shape

When working with our two bumblebee tables—one buzzing with scientific names and the other humming with common names—Python's merge() function is like a matchmaker for your data. The great thing about merge() is that it lets you decide exactly how these two tables come together. Say you want to merge them based on the ScientificName column, ensuring that each bee's formal identity pairs up perfectly with its everyday nickname. By using the on parameter, you can create the ultimate bee directory where the Latin meets the common, all while keeping your data as sharp as a bee's stinger! 🐝🔗

qIn the world of pandas, DataFrames have a merge() method,  with similar functionality to SAS joins. No need to sort ahead of time—perform all kinds of different joins by simply using the how keyword. It’s like a hive of possibilities for your data!

In [ ]:
inner_merged = pd.merge(df3, df4, on=["SPECIES"])

In [ ]:
inner_join = df1.merge(df3, on=["SCIENTIFICNAME"], how="inner")

 column names for dataframes are case sensitive.

Dataframe column names are essentially string values, which are case sensitive in Python. Because of this, you will need to be careful whenever you utilize column names, such as when renaming a column, accessing columns or performing functions on them.

In [ ]:
df3.columns = df3.columns.str.lower()

In [ ]:
list(df3)

In [ ]:
df4.columns = df4.columns.str.lower()

In [ ]:
list(df4)

In [ ]:
df_inner = df3.merge(df4, on=["species"], how="inner")

In [ ]:
df_inner[['scientificname','commonname', 'nesting']].head(20)

In [ ]:
df_inner.describe

In [ ]:
df3.describe

In [ ]:
inner_merged.shape

### Merge df1 and df3 on column scientificname to see where bombus nests

In [ ]:
merged = pd.merge(df3, df4, on=["species"])
print(merged)

In [ ]:
# get me the all the Bombus species with nesting values -start here & clean up story around merging & concatenating
merged[['Species'] == 'Bombus','nesting']

In [ ]:
list(df3)

In [ ]:
list(df4)

In [ ]:
# Read the native vs non native bumblebee CSV file into a DataFrame for easy data manipulation and analysis.
df5=pd.read_csv('/workspaces/myfolder/SASPythonDataScientists/native_vs_nonnative_bumblebee_sighting_pollinators_of_farm_data_for_publication.csv', encoding='latin-1')

In [ ]:
df5.describe

## Grouping Aggregating Data

#### keep columns

In [ ]:
dfbig = dfbig[['scientificName','stateProvince']]

https://stackoverflow.com/questions/47320572/pandas-groupby-and-count

In [ ]:
pd.set_option('display.max_rows', None)

In [ ]:
dfbig.groupby(['stateProvince','scientificName'])['scientificName'].count().head(20)

chaining, create an obj with syntax

In [ ]:
dfbig.value_counts(subset=['scientificName', 'stateProvince']).head(20)

In [ ]:
dfbig.head(20)

In [ ]:
display(dfbig)

#### Get to know data types

In [ ]:
print(dfbig.dtypes)

When you import data into a Pandas DataFrame, Pandas by default tries to know the data types of each column. Columns with text are by default marked as Object datatype.

But Object dtype have a much broader scope. They can not only include strings, but also any other data that Pandas doesn't understand.

After Pandas 1.0 (now 1.1.2), there's a dedicated dtype to handle and work with text data, that is, String.🤔

How is this important?

When a column is Object type, it does not necessarily mean that all the values will be string.

In fact, they can all be numbers, or a mixture of string, integers and floats.

With this discrepancy present, you can not do any string operation on the column straightaway.

Moreover, having dtype as Object will make it less clear to work with just text and exclude the non-text values.

With the new String dtype, the values are explicitly treated as strings.

In [ ]:
df.fillna(df.mean(), inplace=True)
print(df)

Convert the DataFrame to use best possible dtypes.

In [ ]:
dfconv = dfbig.convert_dtypes()
dfconv.dtypes

#### Request descriptive statistics

In [ ]:
print(dfconv.describe())

While Python is a power language, it may not have ready-to-use functions that replicates SAS procedure exactly.

In Python, first group by age_category gender, aggregate by statistical functions, such as:

In [ ]:
dt=df1.groupby(['year','month']).agg(['mean','max','min','count'])

In [ ]:
dt=df1.groupby(['year','month']).agg(['count'])

In [ ]:
display(dt)

#### Request first 5 rows of data

In [ ]:
print(dfconv.head())

In [ ]:
print(dfconv.tail())

## Pattern Matching in Python

greedy vs lazy search

In [ ]:
import re

Find all instances of bee names ending in 'en' 'ed' or with a '-' using perl regular expression

 code to repeat this perl code where prxmatch('/[a-z]ern|ed|-( |^(1))/', commonname);

In [ ]:
pattern = r'[a-z]ern|ed|-( |^(1))'

## Handling Missing Values Fill missing values with the column mean

Handling missing values is crucial for maintaining data integrity and ensuring accurate analysis. Missing data can be filled using various methods, such as replacing them with the column mean. This task involves using the fillna function to fill any NaN (Not a Number) values in the DataFrame with the mean of their respective columns, thereby preventing potential biases or errors in subsequent analyses.

## Grouping Aggregating Data

## Applying a Function to Each Column

Applying a function to each column allows you to perform element-wise operations across the DataFrame. This task involves using the apply function with a lambda function to modify the values in each column. For example, multiplying each element by 2. This technique is useful for standardizing data, performing calculations, and transforming data values as needed.

In [ ]:
# Apply a lambda function to each column
df = df.apply(lambda x: x*2)
print(df)

## Exporting DataFrame to CSV

In [ ]:
# Export the DataFrame to a CSV file
df.to_csv('cleaned_data.csv', index=False)
print("DataFrame exported to cleaned_data.csv")

get a python list

In [ ]:
list(df1)

In [ ]:
df1.select_dtypes(include=['object']).columns

In [ ]:
pd.crosstab(index=df1['column'])

Ari 20aug 24 frequency counts for all categorical variables
for loop-instead of looping over index; iterating thro categorical columns
column =goes thro each of the list elements
display - print -running crosstab method in pandas;

In [ ]:
tables=[]
for column in df1.select_dtypes(include=['object']).columns:
    tables.append(pd.crosstab(index=df1[column], columns='number of observations'))

In [ ]:
tables

In [ ]:
for column in df1.select_dtypes(include=['object']).columns:
    display(pd.crosstab(index=df1[column], columns='number of observations'))

In [ ]:
for column in df1.select_dtypes(include=['object']).columns:
    display(pd.crosstab(index=df1[column], columns='% observations', normalize='columns')*100)

In [ ]:
dfcount=df1.groupby(list(df1)).size()
print("counts",dfcount)

In [ ]:
dfcount=df1.groupby(['country']).size()
print("counts",dfcount)

In [ ]:
dfcount=dfconv.groupby(['country']).size()
print("counts",dfcount)

The nunique() method returns the number of unique values for each column.

By specifying the column axis (axis='columns'), the nunique() method searches column-wise and returns the number of unique values for each row.

Syntax
dataframe.nunique(axis, dropna)

In [ ]:
dfconv.nunique('columns')

In [ ]:
diff types is the problem
dfconv.apply(lambda x: x.value_counts()).T.stack()

In [ ]:
count = df1.groupby(['country', 'stateProvince', 'scientificName']).size() 
print(count)

In [ ]:
count = dfconv.groupby(['country', 'stateProvince', 'scientificName']).size() 
print(count)

In [ ]:
count = df['fruit'].value_counts()['apple']

print(f"The number of apples is: {count}")

### How does the presence of non-native plant species affect bumblebee populations?

## Pivoting data frames

In [ ]:
# Pivot the DataFrame on 'index', 'columns', and 'values'
pivot_df = df.pivot(index='date', columns='category', values='value')
print(pivot_df)

## Resampling Time Series Data

In [ ]:
# Resample time series data to monthly frequency
df['date'] = pd.to_datetime(df['date'])
df.set_index('date', inplace=True)
monthly_df = df.resample('M').sum()
print(monthly_df)

## Removing Duplicate Rows

In [ ]:

# Remove duplicate rows based on all columns
df.drop_duplicates(inplace=True)
print(df)

## Saving imported file to workbench

In [ ]:
import requests

# File path and name
file_path = r"/workspaces/myfolder/MachineLearning/hmeq.csv"
 
# Specify the URL of the CSV file
url = r"https://support.sas.com/documentation/onlinedoc/viya/exampledatasets/hmeq.csv"
 
# Download the and save CSV file to Workbench
response = requests.get(url)
with open(file_path, 'wb') as f:
    f.write(response.content)
    print(f'File downloaded:{file_path}')