In [ ]:
#Load data into a pandas dataframe
import pandas as pd

df = pd.read_sas(r"//workspaces/myfolder/SASPythonDataScientists/dst6.sas7bdat", encoding='latin-1')

In [4]:
#We want to plot a heatmap of months in which the plants flower, assuming we have all flowering plants in the data
df = df[['year','plot','date','plant species']]
#Create a month columns to track the months
df['month'] = df['date'].dt.month
df['year'] = df['date'].dt.year
df.head(10)

   year        plot       date      plant species  month
0  2016  non-native 2016-09-21   Trifolium repens      9
1  2016  non-native 2016-09-21  Cosmos bipinnatus      9
2  2016  non-native 2016-09-21  Cosmos bipinnatus      9
3  2016      native 2016-09-21   Monarda punctata      9
4  2016      native 2016-09-21   Monarda punctata      9
5  2016      native 2016-09-21   Monarda punctata      9
6  2016      native 2016-09-21    Bidens aristosa      9
7  2016      native 2016-09-21    Bidens aristosa      9
8  2016      native 2016-09-21    Bidens aristosa      9
9  2016      native 2016-09-21    Bidens aristosa      9

In [ ]:
#Turn the months into dummy coded columns that we can sum over
df = pd.get_dummies(df, columns=['month'], dtype=float)

#Rename months for clarity and plotting
df.rename(columns=dict(month_4='4',month_5='5',month_6='6',month_7='7',month_8='8',month_9='9',month_10='10'), inplace=True)

df.head(10)

In [6]:
#Separate data into native and non-native plants for plotting a heatmap
native_df = df[df['plot']=='native']
non_native_df = df[df['plot']=='non-native']

#Roll up data to get number of records for each plant for each month
native_plot = native_df.groupby(['plant species','year'])[['4','5','6','7','8','9','10']].agg('sum')
non_native_plot = non_native_df.groupby(['plant species','year'])[['4','5','6','7','8','9','10']].agg('sum')

native_plot.head()

                          4    5     6     7     8     9   10
plant species     year
Asclepias tuberos 2017  0.0  0.0  20.0   0.0   0.0   0.0  0.0
Bidens aristosa   2016  0.0  0.0   0.0   0.0   0.0  26.0  0.0
                  2017  0.0  0.0   0.0   0.0   0.0  24.0  2.0
Chamaecrista fasc 2016  0.0  0.0   0.0   4.0   0.0   1.0  0.0
                  2017  0.0  0.0   0.0  44.0  19.0   0.0  0.0

In [ ]:
import seaborn as sns

ax = sns.heatmap(native_plot, cmap='Oranges')
ax.set_title('Native plants with respective flowering period');
ax.xaxis.tick_top()
ax.tick_params(left=False)

#https://matplotlib.org/stable/gallery/color/colormap_reference.html
#above is a reference to the colormap if you want to change how the plot looks just change the cmap option

#https://seaborn.pydata.org/generated/seaborn.heatmap.html
#above is the doc page for the heatmap plot we are using

In [ ]:
ax = sns.heatmap(non_native_plot, cmap='Oranges')
ax.set_title('Non-Native plants with respective flowering period')
ax.xaxis.tick_top()
ax.tick_params(left=False)