## Python Data Science Methodology

Access - Identify analysis tables that will be used in load those tables.<br> 
Explore/Investigate - Inspect tables to determine whether any changes are needed for data items due to data inconsistencies or data quality issues, as well as identify any new data items <br>that need to be calculated. <br>
Prepare - Correct any data quality issues and create any new calculated items needed for analysis. <br>
Analyze - Explore  data to identify any patterns, relationships, and trends. <br>
Report - Develop interactive reports that can be shared via the web or a mobile device.

### importing an image

In [1]:
from IPython.display import display, HTML
 
image_url = "https://www.canr.msu.edu/home_gardening/uploads/images/Photo1-Rusty.jpg?language_id=1"
html_code = f'<img src="{image_url}" width="300">'
 
display(HTML(html_code))

Bumble bees are important pollinators of wild flowering plants and agricultural crops. They are able to fly in cooler temperatures and lower light levels than many other bees, making them excellent pollinators‚Äîespecially at higher elevations and latitudes. They also perform a behavior called ‚Äúbuzz pollination,‚Äù in which the bee grabs the flower in her jaws and vibrates her wing muscles to dislodge pollen from the flower. Many plants, including a number of wildflowers and crops like tomatoes, peppers, and cranberries, benefit from buzz pollination.

Because they are essential pollinators, loss of bumble bees can have far ranging ecological consequences. Alarmingly, recent work by the Xerces Society in concert with IUCN Bumble Bee Specialist Group, indicates that some species have experienced rapid and dramatic declines more than others. In fact, more than one quarter (28%) of all North American bumble bees are facing some degree of extinction risk. While some species have received considerable conservation attention, other species such as the Suckley cuckoo bumble bee and the variable cuckoo bumble bee have been largely overlooked.

For information about our efforts to conserve the rusty patched bumble bee (Bombus affinis), please see its <a href='https://www.xerces.org/rusty-patched-bumble-bee/'>profile page</a> and check out this <a href='https://storymaps.arcgis.com/stories/c5e591a19eb24d28af483ede7b174434'>story map</a>.

## Data Access Python

#### Reading a CSV File into a DataFrame

Reading a CSV file into a DataFrame is the first step in data analysis using pandas. This task involves loading data from a CSV file into a pandas DataFrame, which provides a powerful and flexible data structure for data manipulation and analysis. The read_csv function is used to read the CSV file, making the data easily accessible for various operations such as filtering, grouping, and aggregating.

In [1]:
import pandas as pd

In [5]:
# Read the North American bumblebee CSV file into a DataFrame for easy data manipulation and analysis.
df1=pd.read_csv('/workspaces/myfolder/SASPythonDataScientists/pattern_decline__N_American_Bumblebees.csv' , encoding='latin-1')

/tmp/ipykernel_11001/2713840696.py:2: DtypeWarning: Columns (6,16) have mixed types. Specify dtype option on import or set low_memory=False.
  df1=pd.read_csv('/workspaces/myfolder/SASPythonDataScientists/pattern_decline__N_American_Bumblebees.csv' , encoding='latin-1')

In [ ]:
https://stackoverflow.com/questions/5552555/unicodedecodeerror-invalid-continuation-byte encoding=latin-1

In [7]:
# Read the Mexican bumblebee CSV file into a DataFrame for easy data manipulation and analysis.
df2=pd.read_csv('/workspaces/myfolder/SASPythonDataScientists/pattern_decline__Mexican_Bumblebees.csv' , encoding='latin-1')

#### Data Interoperability

In [ ]:
df=pd.read_sas()

In [ ]:
df1.describe

## Data Exploration

#### Get to know Python metadata

In [ ]:
df1.describe

In [ ]:
print(df1.dtypes)

In [ ]:
df1.dtypes

##### Concatenating 2 data frames to combine North American(excluding Alaska) and Mexican Bumblebees

##### great explanation https://realpython.com/pandas-merge-join-and-concat/
https://pandas.pydata.org/docs/user_guide/merging.html

In [8]:
dfbig=pd.concat([df1,df2])

In [9]:
dfbig.describe

<bound method NDFrame.describe of            id institutionCode collectionCode      basisOfRecord  occurrenceID  \
0   699384987        USDA-ARS           BBSL  PreservedSpecimen     699384987
1   699384988        USDA-ARS           BBSL  PreservedSpecimen     699384988
2   699384989        USDA-ARS           BBSL  PreservedSpecimen     699384989
3   699384990        USDA-ARS           BBSL  PreservedSpecimen     699384990
4   699384991        USDA-ARS           BBSL  PreservedSpecimen     699384991
..        ...             ...            ...                ...           ...
19  767112267        USDA-ARS           BBSL  PreservedSpecimen     767112267
20  767113738        USDA-ARS           BBSL  PreservedSpecimen     767113738
21  767135957        USDA-ARS           BBSL  PreservedSpecimen     767135957
22  767136283        USDA-ARS           BBSL  PreservedSpecimen     767136283
23  767140079        USDA-ARS           BBSL  PreservedSpecimen     767140079

   catalogNumber        recordedBy    year  month   day  ...   kingdom  \
0     BBSL221088       W. Apperson  1970.0    7.0  27.0  ...  Animalia
1     BBSL241571       W. Apperson  1970.0    7.0  27.0  ...  Animalia
2          76122         B. Hevron  1989.0    6.0  16.0  ...  Animalia
3       JPS30053  P.S. Bartholomew  1970.0    9.0  15.0  ...  Animalia
4     BBSL226571       W.J. Hanson  1961.0    8.0  15.0  ...  Animalia
..           ...               ...     ...    ...   ...  ...       ...
19    BOMBUS1219               NaN  1928.0    8.0  19.0  ...  Animalia
20    BOMBUS1348               NaN  1928.0    7.0  13.0  ...  Animalia
21   BOMBUS33485               NaN  1930.0    9.0  13.0  ...  Animalia
22   BOMBUS33755               NaN  1944.0    1.0   8.0  ...  Animalia
23   BOMBUS37213               NaN  1933.0    6.0  19.0  ...  Animalia

        phylum    class        order  family   genus specificEpithet  \
0   Arthropoda  Insecta  Hymenoptera  Apidae  Bombus    occidentalis
1   Arthropoda  Insecta  Hymenoptera  Apidae  Bombus    occidentalis
2   Arthropoda  Insecta  Hymenoptera  Apidae  Bombus        bifarius
3   Arthropoda  Insecta  Hymenoptera  Apidae  Bombus    occidentalis
4   Arthropoda  Insecta  Hymenoptera  Apidae  Bombus        bifarius
..         ...      ...          ...     ...     ...             ...
19  Arthropoda  Insecta  Hymenoptera  Apidae  Bombus   pensylvanicus
20  Arthropoda  Insecta  Hymenoptera  Apidae  Bombus   pensylvanicus
21  Arthropoda  Insecta  Hymenoptera  Apidae  Bombus   pensylvanicus
22  Arthropoda  Insecta  Hymenoptera  Apidae  Bombus   pensylvanicus
23  Arthropoda  Insecta  Hymenoptera  Apidae  Bombus       impatiens

   scientificNameAuthorship informationWithheld vernacularName
0               Greene 1858                 NaN            NaN
1               Greene 1858                 NaN            NaN
2              Cresson 1878                 NaN            NaN
3               Greene 1858                 NaN            NaN
4              Cresson 1878                 NaN            NaN
..                      ...                 ...            ...
19            (DeGeer 1773)                 NaN            NaN
20            (DeGeer 1773)                 NaN            NaN
21            (DeGeer 1773)                 NaN            NaN
22            (DeGeer 1773)                 NaN            NaN
23             Cresson 1863                 NaN            NaN

[66931 rows x 28 columns]>

#### Drop columns from pandas dataframe

###### You can find out name of first column by using this command df.columns[0]. Indexing in python starts from 0.

In [ ]:
cols=[2,3,4,5,6,7,8,9,10,11]
df.drop = (dfbig.columns[cols],axis=1)

#### Get to know data types

In [ ]:
print(dfbig.dtypes)

When you import data into a Pandas DataFrame, Pandas by default tries to know the data types of each column. Columns with text are by default marked as Object datatype.

But Object dtype have a much broader scope. They can not only include strings, but also any other data that Pandas doesn't understand.

After Pandas 1.0 (now 1.1.2), there's a dedicated dtype to handle and work with text data, that is, String.ü§î

How is this important?

When a column is Object type, it does not necessarily mean that all the values will be string.

In fact, they can all be numbers, or a mixture of string, integers and floats.

With this discrepancy present, you can not do any string operation on the column straightaway.

Moreover, having dtype as Object will make it less clear to work with just text and exclude the non-text values.

With the new String dtype, the values are explicitly treated as strings.

Convert the DataFrame to use best possible dtypes.

In [ ]:
dfconv = dfbig.convert_dtypes()
dfconv.dtypes

#### Request descriptive statistics

In [ ]:
print(dfconv.describe())

#### Request first 5 rows of data

In [ ]:
print(dfconv.head())

In [ ]:
print(dfconv.tail())

## Pattern Matching in Python

In [ ]:
import regex as re

##  Filtering Rows Based on a Condition

Filtering rows based on a condition is a common data management task that allows you to focus on a specific subset of your data. By applying a condition to a column, such as selecting rows where the pollinator_genus is Bumblebee, you can isolate and analyze the data that meets your criteria. This helps in drawing insights and making data-driven decisions based on relevant data subsets.

In [ ]:
# Filter rows where 
filtered_df = df.query('pollinator_genus == "Bombus"')
print(filtered_df)

print creates a basic looking output, use df.head etc. instead
python is object oriented, so every line of code uses an object.
following cell is indexing. df is the dataframe. df[1] selects first row, df[1,2] selects first row, 2nd col; df[0:10, 2]

In [ ]:
df[df['pollinator_genus'] == 'Bombus']

In [ ]:
df['pollinator_genus'] == 'Bombus'

In [ ]:
sum(df['pollinator_genus'] == 'Bombus')

In [ ]:
sum(~(df['pollinator_genus'] == 'Bombus'))

In [ ]:
sum((df['pollinator_genus'] != 'Bombus'))

## Handling Missing Values Fill missing values with the column mean

Handling missing values is crucial for maintaining data integrity and ensuring accurate analysis. Missing data can be filled using various methods, such as replacing them with the column mean. This task involves using the fillna function to fill any NaN (Not a Number) values in the DataFrame with the mean of their respective columns, thereby preventing potential biases or errors in subsequent analyses.

In [ ]:
df.fillna(df.mean(), inplace=True)
print(df)

## Applying a Function to Each Column

Applying a function to each column allows you to perform element-wise operations across the DataFrame. This task involves using the apply function with a lambda function to modify the values in each column. For example, multiplying each element by 2. This technique is useful for standardizing data, performing calculations, and transforming data values as needed.

In [ ]:
# Apply a lambda function to each column
df = df.apply(lambda x: x*2)
print(df)

## Exporting DataFrame to CSV

In [ ]:
# Export the DataFrame to a CSV file
df.to_csv('cleaned_data.csv', index=False)
print("DataFrame exported to cleaned_data.csv")

## Grouping Aggregating Data

In [ ]:
4. Grouping Data and Calculating Aggregates
# Group by column 'country' and calculate the count of each group
grouped_df = dfconv.groupby("Country").sum()
print(grouped_df)

In [ ]:
dfconv["country"].groupby("country").sum()

4. Count Frequency Value Using GroupBy.size()
df.groupby().size() function to get the count frequency of single or multiple columns,  Apply the size() function on the resulting Groupby() object to get a frequency count.

In [ ]:
list(df1)

get a python list

In [ ]:
df1.select_dtypes(include=['object']).columns

In [ ]:
pd.crosstab(index=df1['column'])

Ari 20aug 24 frequency counts for all categorical variables
for loop-instead of looping over index; iterating thro categorical columns
column =goes thro each of the list elements
display - print -running crosstab method in pandas;

In [ ]:
tables=[]
for column in df1.select_dtypes(include=['object']).columns:
    tables.append(pd.crosstab(index=df1[column], columns='number of observations'))

In [ ]:
tables

In [ ]:
for column in df1.select_dtypes(include=['object']).columns:
    display(pd.crosstab(index=df1[column], columns='number of observations'))

In [ ]:
for column in df1.select_dtypes(include=['object']).columns:
    display(pd.crosstab(index=df1[column], columns='% observations', normalize='columns')*100)

In [ ]:
dfcount=df1.groupby(list(df1)).size()
print("counts",dfcount)

In [ ]:
dfcount=df1.groupby(['country']).size()
print("counts",dfcount)

In [ ]:
dfcount=dfconv.groupby(['country']).size()
print("counts",dfcount)

The nunique() method returns the number of unique values for each column.

By specifying the column axis (axis='columns'), the nunique() method searches column-wise and returns the number of unique values for each row.

Syntax
dataframe.nunique(axis, dropna)

In [ ]:
dfconv.nunique('columns')

In [ ]:
diff types is the problem
dfconv.apply(lambda x: x.value_counts()).T.stack()

In [ ]:
count = df1.groupby(['country', 'stateProvince', 'scientificName']).size() 
print(count)

In [ ]:
count = dfconv.groupby(['country', 'stateProvince', 'scientificName']).size() 
print(count)

In [ ]:
count = df['fruit'].value_counts()['apple']

print(f"The number of apples is: {count}")

## Merging data frames

We're diving into the world of bumblebees by buzzing through some data magic in Python! Imagine we've got one table that's packed with the scientific names of our favorite fuzzy pollinators, and another that's got their common names. By concatenating the scientific names into one tidy table and then merging it with the common names, we're basically creating the ultimate bee database‚Äîbringing together the formal and the familiar. It's like giving each bee its proper name tag at the hive party! This way, we can easily connect the dots between the Latin and the layman's terms, making our bumblebee data analysis as sweet as honey. üêùüíª

In [36]:
df3=pd.read_csv("/workspaces/myfolder/SASPythonDataScientists/Bumblebee_Scientific_Common_Names.csv", encoding='latin-1')

In [37]:
df3=pd.read_csv("https://raw.githubusercontent.com/CharuSAS/SASPythonDataScientists/main/Bumblebee_Scientific_Common_Names.csv", encoding='latin-1')

In [ ]:
df3.describe

Take a quick look at the dimensions of the tables we are about to merge

In [18]:
df3.shape

(55, 3)

When working with our two bumblebee tables‚Äîone buzzing with scientific names and the other humming with common names‚ÄîPython's merge() function is like a matchmaker for your data. The great thing about merge() is that it lets you decide exactly how these two tables come together. Say you want to merge them based on the ScientificName column, ensuring that each bee's formal identity pairs up perfectly with its everyday nickname. By using the on parameter, you can create the ultimate bee directory where the Latin meets the common, all while keeping your data as sharp as a bee's stinger! üêùüîó

In [ ]:
inner_merged = pd.merge(df1, df3, on=["SCIENTIFICNAME"])

 column names for dataframes are case sensitive.

Dataframe column names are essentially string values, which are case sensitive in Python. Because of this, you will need to be careful whenever you utilize column names, such as when renaming a column, accessing columns or performing functions on them.

In [25]:
df1.columns = df1.columns.str.lower()

In [40]:
df3.columns = df3.columns.str.lower()

In [41]:
df1.describe

<bound method NDFrame.describe of               id institutioncode collectioncode      basisofrecord  \
0      699384987        USDA-ARS           BBSL  PreservedSpecimen
1      699384988        USDA-ARS           BBSL  PreservedSpecimen
2      699384989        USDA-ARS           BBSL  PreservedSpecimen
3      699384990        USDA-ARS           BBSL  PreservedSpecimen
4      699384991        USDA-ARS           BBSL  PreservedSpecimen
...          ...             ...            ...                ...
66902  767151731        USDA-ARS           BBSL  PreservedSpecimen
66903  767151732        USDA-ARS           BBSL  PreservedSpecimen
66904  767151733        USDA-ARS           BBSL  PreservedSpecimen
66905  767151734        USDA-ARS           BBSL  PreservedSpecimen
66906  767151735        USDA-ARS           BBSL  PreservedSpecimen

       occurrenceid catalognumber                recordedby    year  month  \
0         699384987    BBSL221088               W. Apperson  1970.0    7.0
1         699384988    BBSL241571               W. Apperson  1970.0    7.0
2         699384989         76122                 B. Hevron  1989.0    6.0
3         699384990      JPS30053          P.S. Bartholomew  1970.0    9.0
4         699384991    BBSL226571               W.J. Hanson  1961.0    8.0
...             ...           ...                       ...     ...    ...
66902     767151731  USNM00679992              E.C. Jackson  1917.0    NaN
66903     767151732  USNM00679995                 D.G. Hall  1940.0    NaN
66904     767151733  USNM00679996                 D.G. Hall  1940.0    NaN
66905     767151734  USNM00679997                 D.G. Hall  1940.0    NaN
66906     767151735  USNM00679999  D.G. Hall, G.F. Knowlton  1940.0    NaN

        day  ...        identifiedby       scientificname   kingdom  \
0      27.0  ...                 NaN  Bombus occidentalis  Animalia
1      27.0  ...                 NaN  Bombus occidentalis  Animalia
2      16.0  ...  T.L. Griswold 1994      Bombus bifarius  Animalia
3      15.0  ...  R.S. Jacobson 1991  Bombus occidentalis  Animalia
4      15.0  ...                 NaN      Bombus bifarius  Animalia
...     ...  ...                 ...                  ...       ...
66902   NaN  ...      J.B. Koch 2010      Bombus bifarius  Animalia
66903   NaN  ...      J.B. Koch 2010      Bombus bifarius  Animalia
66904   NaN  ...      J.B. Koch 2010      Bombus bifarius  Animalia
66905   NaN  ...      J.B. Koch 2010      Bombus bifarius  Animalia
66906   NaN  ...      J.B. Koch 2010      Bombus bifarius  Animalia

           phylum    class        order  family   genus specificepithet  \
0      Arthropoda  Insecta  Hymenoptera  Apidae  Bombus    occidentalis
1      Arthropoda  Insecta  Hymenoptera  Apidae  Bombus    occidentalis
2      Arthropoda  Insecta  Hymenoptera  Apidae  Bombus        bifarius
3      Arthropoda  Insecta  Hymenoptera  Apidae  Bombus    occidentalis
4      Arthropoda  Insecta  Hymenoptera  Apidae  Bombus        bifarius
...           ...      ...          ...     ...     ...             ...
66902  Arthropoda  Insecta  Hymenoptera  Apidae  Bombus        bifarius
66903  Arthropoda  Insecta  Hymenoptera  Apidae  Bombus        bifarius
66904  Arthropoda  Insecta  Hymenoptera  Apidae  Bombus        bifarius
66905  Arthropoda  Insecta  Hymenoptera  Apidae  Bombus        bifarius
66906  Arthropoda  Insecta  Hymenoptera  Apidae  Bombus        bifarius

      scientificnameauthorship
0                  Greene 1858
1                  Greene 1858
2                 Cresson 1878
3                  Greene 1858
4                 Cresson 1878
...                        ...
66902             Cresson 1878
66903             Cresson 1878
66904             Cresson 1878
66905             Cresson 1878
66906             Cresson 1878

[66907 rows x 26 columns]>

In [42]:
df3.describe

<bound method NDFrame.describe of           scientificname                       commonname  \
0                 Bombus                        Bumblebee
1         Bombus affinis          Rusty Patched Bumblebee
2       Bombus appositus       White-shouldered Bumblebee
3         Bombus ashtoni          Ashton Cuckoo Bumblebee
4         Bombus atratus                  Black Bumblebee
5       Bombus auricomus         Black and Gold Bumblebee
6       Bombus balteatus          Golden-belted Bumblebee
7        Bombus bifarius               Two-form Bumblebee
8     Bombus bimaculatus            Two-spotted Bumblebee
9       Bombus bohemicus           Gypsy Cuckoo Bumblebee
10       Bombus borealis         Northern Amber Bumblebee
11    Bombus caliginosus                Obscure Bumblebee
12      Bombus centralis                Central Bumblebee
13       Bombus citrinus           Lemon Cuckoo Bumblebee
14     Bombus cockerelli            Cockerell¬ís Bumblebee
15       Bombus crotchii                 Crotch Bumblebee
16  Bombus distinguendus           Great Yellow Bumblebee
17      Bombus excellens               Splendid Bumblebee
18      Bombus fernaldae       Fernald¬ís Cuckoo Bumblebee
19       Bombus fervidus                 Yellow Bumblebee
20     Bombus flavifrons         Yellow-fronted Bumblebee
21      Bombus franklini             Franklin¬ís Bumblebee
22      Bombus fraternus        Southern Plains Bumblebee
23       Bombus frigidus                 Frigid Bumblebee
24   Bombus griseocollis           Brown-belted Bumblebee
25         Bombus huntii                 Hunt¬ís Bumblebee
26      Bombus hypocrita              Hypocrite Bumblebee
27      Bombus impatiens         Common Eastern Bumblebee
28      Bombus insularis  Indiscriminate Cuckoo Bumblebee
29     Bombus lapponicus                Lapland Bumblebee
30        Bombus lucorum           White-tailed Bumblebee
31    Bombus melanopygus          Orange-rumped Bumblebee
32         Bombus mixtus           Fuzzy-horned Bumblebee
33      Bombus morrisoni             Morrison¬ís Bumblebee
34     Bombus nevadensis                 Nevada Bumblebee
35        Bombus nobilis                  Noble Bumblebee
36   Bombus occidentalis                Western Bumblebee
37      Bombus pascuorum          Common Carder Bumblebee
38  Bombus pensylvanicus               American Bumblebee
39      Bombus perplexus              Confusing Bumblebee
40    Bombus rotundiceps           Round-headed Bumblebee
41    Bombus rufocinctus             Red-belted Bumblebee
42     Bombus sandersoni            Sanderson¬ís Bumblebee
43     Bombus simillimus                Similar Bumblebee
44      Bombus sitkensis                  Sitka Bumblebee
45        Bombus sonorus                Sonoran Bumblebee
46       Bombus suckleyi       Suckley¬ís Cuckoo Bumblebee
47      Bombus ternarius            Tri-colored Bumblebee
48     Bombus terrestris            Buff-tailed Bumblebee
49      Bombus terricola          Yellow-banded Bumblebee
50         Bombus vagans             Half-black Bumblebee
51       Bombus vandykei               Van Dyke Bumblebee
52     Bombus variabilis        Variable Cuckoo Bumblebee
53   Bombus vosnesenskii           Yellow-faced Bumblebee
54          Bombus weisi                Weisi¬ís Bumblebee

                                               source
0                          General Name for the Genus
1                                       IUCN Red List
2                         Bumblebees of North America
3                         Bumblebees of North America
4   Integrated Taxonomic Information System (Integ...
5                         Bumblebees of North America
6                         Bumblebees of North America
7                         Bumblebees of North America
8                         Bumblebees of North America
9                                       IUCN Red List
10                        Bumblebees of North America
11                        Bumblebees of North America
12     Integrated Taxonomic Information System (ITIS)
13                        Bumblebees of North America
14                        Bumblebees of North America
15                                      IUCN Red List
16                        Bumblebees of North America
17     Integrated Taxonomic Information System (ITIS)
18                        Bumblebees of North America
19                        Bumblebees of North America
20                        Bumblebees of North America
21                                      IUCN Red List
22                        Bumblebees of North America
23                        Bumblebees of North America
24                        Bumblebees of North America
25                        Bumblebees of North America
26     Integrated Taxonomic Information System (ITIS)
27                        Bumblebees of North America
28                        Bumblebees of North America
29                        Bumblebees of North America
30                        Bumblebees of North America
31                        Bumblebees of North America
32                        Bumblebees of North America
33                        Bumblebees of North America
34                        Bumblebees of North America
35     Integrated Taxonomic Information System (ITIS)
36                                      IUCN Red List
37                        Bumblebees of North America
38                        Bumblebees of North America
39                        Bumblebees of North America
40     Integrated Taxonomic Information System (ITIS)
41                        Bumblebees of North America
42                        Bumblebees of North America
43     Integrated Taxonomic Information System (ITIS)
44                        Bumblebees of North America
45                        Bumblebees of North America
46                                      IUCN Red List
47                        Bumblebees of North America
48                        Bumblebees of North America
49                                      IUCN Red List
50                        Bumblebees of North America
51                        Bumblebees of North America
52                        Bumblebees of North America
53                        Bumblebees of North America
54     Integrated Taxonomic Information System (ITIS)  >

In [ ]:
inner_merged.shape

### Merge df1 and df3 on column scientificname

In [43]:
inner_merged = pd.merge(df1, df3, on=["scientificname"])
print(inner_merged)

              id institutioncode collectioncode      basisofrecord  \
0      699384987        USDA-ARS           BBSL  PreservedSpecimen
1      699384988        USDA-ARS           BBSL  PreservedSpecimen
2      699384989        USDA-ARS           BBSL  PreservedSpecimen
3      699384990        USDA-ARS           BBSL  PreservedSpecimen
4      699384991        USDA-ARS           BBSL  PreservedSpecimen
...          ...             ...            ...                ...
66902  767151731        USDA-ARS           BBSL  PreservedSpecimen
66903  767151732        USDA-ARS           BBSL  PreservedSpecimen
66904  767151733        USDA-ARS           BBSL  PreservedSpecimen
66905  767151734        USDA-ARS           BBSL  PreservedSpecimen
66906  767151735        USDA-ARS           BBSL  PreservedSpecimen

       occurrenceid catalognumber                recordedby    year  month  \
0         699384987    BBSL221088               W. Apperson  1970.0    7.0
1         699384988    BBSL241571               W. Apperson  1970.0    7.0
2         699384989         76122                 B. Hevron  1989.0    6.0
3         699384990      JPS30053          P.S. Bartholomew  1970.0    9.0
4         699384991    BBSL226571               W.J. Hanson  1961.0    8.0
...             ...           ...                       ...     ...    ...
66902     767151731  USNM00679992              E.C. Jackson  1917.0    NaN
66903     767151732  USNM00679995                 D.G. Hall  1940.0    NaN
66904     767151733  USNM00679996                 D.G. Hall  1940.0    NaN
66905     767151734  USNM00679997                 D.G. Hall  1940.0    NaN
66906     767151735  USNM00679999  D.G. Hall, G.F. Knowlton  1940.0    NaN

        day  ...   kingdom      phylum    class        order  family   genus  \
0      27.0  ...  Animalia  Arthropoda  Insecta  Hymenoptera  Apidae  Bombus
1      27.0  ...  Animalia  Arthropoda  Insecta  Hymenoptera  Apidae  Bombus
2      16.0  ...  Animalia  Arthropoda  Insecta  Hymenoptera  Apidae  Bombus
3      15.0  ...  Animalia  Arthropoda  Insecta  Hymenoptera  Apidae  Bombus
4      15.0  ...  Animalia  Arthropoda  Insecta  Hymenoptera  Apidae  Bombus
...     ...  ...       ...         ...      ...          ...     ...     ...
66902   NaN  ...  Animalia  Arthropoda  Insecta  Hymenoptera  Apidae  Bombus
66903   NaN  ...  Animalia  Arthropoda  Insecta  Hymenoptera  Apidae  Bombus
66904   NaN  ...  Animalia  Arthropoda  Insecta  Hymenoptera  Apidae  Bombus
66905   NaN  ...  Animalia  Arthropoda  Insecta  Hymenoptera  Apidae  Bombus
66906   NaN  ...  Animalia  Arthropoda  Insecta  Hymenoptera  Apidae  Bombus

      specificepithet scientificnameauthorship          commonname  \
0        occidentalis              Greene 1858   Western Bumblebee
1        occidentalis              Greene 1858   Western Bumblebee
2            bifarius             Cresson 1878  Two-form Bumblebee
3        occidentalis              Greene 1858   Western Bumblebee
4            bifarius             Cresson 1878  Two-form Bumblebee
...               ...                      ...                 ...
66902        bifarius             Cresson 1878  Two-form Bumblebee
66903        bifarius             Cresson 1878  Two-form Bumblebee
66904        bifarius             Cresson 1878  Two-form Bumblebee
66905        bifarius             Cresson 1878  Two-form Bumblebee
66906        bifarius             Cresson 1878  Two-form Bumblebee

                            source
0                    IUCN Red List
1                    IUCN Red List
2      Bumblebees of North America
3                    IUCN Red List
4      Bumblebees of North America
...                            ...
66902  Bumblebees of North America
66903  Bumblebees of North America
66904  Bumblebees of North America
66905  Bumblebees of North America
66906  Bumblebees of North America

[66907 rows x 28 columns]

In [ ]:
pd.read_csv("https://github.com/CharuSAS/SASPythonDataScientists/blob/main/bumblebee%20scientific%20and%20common%20name.csv")

In [ ]:
pd.read_csv("https://github.com/CharuSAS/SASPythonDataScientists/blob/main/bumblebee%20scientific%20and%20common%20name.csv")

## Pivoting data frames

In [ ]:
# Pivot the DataFrame on 'index', 'columns', and 'values'
pivot_df = df.pivot(index='date', columns='category', values='value')
print(pivot_df)

## Resampling Time Series Data

In [ ]:
# Resample time series data to monthly frequency
df['date'] = pd.to_datetime(df['date'])
df.set_index('date', inplace=True)
monthly_df = df.resample('M').sum()
print(monthly_df)

## Removing Duplicate Rows

In [ ]:

# Remove duplicate rows based on all columns
df.drop_duplicates(inplace=True)
print(df)

## Saving imported file to workbench

In [ ]:
import requests

# File path and name
file_path = r"/workspaces/myfolder/MachineLearning/hmeq.csv"
 
# Specify the URL of the CSV file
url = r"https://support.sas.com/documentation/onlinedoc/viya/exampledatasets/hmeq.csv"
 
# Download the and save CSV file to Workbench
response = requests.get(url)
with open(file_path, 'wb') as f:
    f.write(response.content)
    print(f'File downloaded:{file_path}')